@(message: String, style: String = "java")

@defining(play.core.PlayVersion.current) { version =>

    <link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

    <div id="content" class="wrapper doc">
        <article>

            <h1>Welcome to CiceroDB</h1>

            <p>Explanation of CiceroDB here...</p>

        </article>

        <aside>
            <h3>Contributors</h3>
            <ul>
                <li>Immanuel Trummer</li>
                <li>Jiancheng Zhu</li>
                <li>Mark Bryan</li>
            </ul>
        </aside>

    </div>
}